/* RESET */
* {
  cursor: default;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 32px;
  margin: 8px 0 8px 0;
}

h2 {
  font-size: 24px;
  margin: 16px 0 8px 0;
}

.easel {
  margin: 32px;
}

.swatch {
  display: inline-block;
  padding: 8px;
}

.background {
  display: block;
}

.select > .name:before {
  content: '\2713';
  margin-right: 4px;
  color: transparent;
}

.select.pinned > .name:before {
  color: inherit;
}

.button {
  font-weight: bold;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.5);
}

.text {
  display: block;
  font-weight: bold;
  padding: 8px 12px;
}

.black {
  color: #000000;
}

.white {
  color: #ffffff;
}
