/* RESET */
* {
  cursor: default;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 32px;
  margin: 8px 0 8px 0;
}

h2 {
  font-size: 24px;
  margin: 16px 0 8px 0;
}

.easel {
  margin: 32px;
}

.swatch {
  display: inline-block;
  padding: 8px;
}

.swatch.background {
  display: block;
}

.swatch.label {
}

.swatch > .name:before {
  content: '\2713';
  margin-right: 4px;
  color: transparent;
}

.swatch.pinned > .name:before {
  color: inherit;
}

.black {
  color: #000000;
}

.white {
  color: #ffffff;
}
