/* RESET */
* {
  cursor: default;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 19px;
}

.title-copy {
  font-family: 'Permanent Marker', cursive;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  padding-top: 8px;
  margin-bottom: 28px - 8px;
}

.header-copy {
  font-family: 'Permanent Marker', cursive;
  font-weight: normal;
  font-size: 21px;
  line-height: 28px;
  padding-top: 4px;
  margin-bottom: -4px;
}

.body-copy {
  font-family: 'Overpass', sans-serif;
  font-weight: normal;
  font-size: 19px;
  line-height: 28px;
  padding-top: 6px;
  margin-bottom: 28px - 6px;
}

select {
  font-family: 'Overpass', sans-serif;
  font-weight: normal;
  font-size: 19px;
  margin-right: 19px;
}

.easel {
  padding: 0 28px;
}

.swatch {
  display: inline-block;
  padding: 7px;
}

.background {
  display: block;
  padding: 14px 7px;
}

.select > .name:before {
  content: '\2713';
  margin-right: 4px;
  color: transparent;
}

.select.pinned > .name:before {
  color: inherit;
}

.button {
  font-weight: bold;
  padding: 14px;
  border-radius: 7px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}

.text {
  display: block;
  font-weight: bold;
  padding: 7px 14px;
}

.black {
  color: #000000;
}

.white {
  color: #ffffff;
}
