/* RESET */
* {
  cursor: default;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 32px;
  margin: 8px 0 8px 0;
}

h2 {
  font-size: 24px;
  margin: 16px 0 8px 0;
}

.easel {
  margin: 32px;
}

.swatch {
  display: inline-block;
  padding: 8px;
  border: 1px solid #ffffff;
}

.swatch.background {
  display: block;
}

.swatch.label {
  border-color: transparent;
}

.black {
  color: #000000;
}

.white {
  color: #ffffff;
}
